# DATABASE_URL_DEVELOPMENT="postgres://username:password@host:port/database"

DATABASE_URL_DEVELOPMENT="your_development_database_url"
DATABASE_URL_TEST="your_test_database_url"
DATABASE_URL_PREVIEW="your_preview_database_url"
DATABASE_URL_PRODUCTION="your_production_database_url"

USER_NAME="your_database_username"
DATABASE_PASSWORD="your_database_password"
DATABASE_NAME="your_database_name"

AUTH_SERVICE_URL="http://localhost:5002"
NODE_ENV="development"
DEBUG=true
LOG_LEVEL=info
